body {
    background-color: #a55166;
    font-family: Arial, sans-serif;
    color: #e2b4c1;
    margin: 20px;
}
h1 {
    color: #fafafa;
    text-align: center;
}
h2 {
    color: #fcfbfb;
    text-align: left;
}
p {
    font-size: 18px;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 1.5;
}
ul {
    font-size: 18px;
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 1.5;
}
.daftar-produk {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.produk {
    background-color:#d38c9d;
    border: 1px solid #d48c9d;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.produk img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.produk h2 {
    font-size: 20px;
    color: #f7dae7;
}
.produk h3 {
    font-size: 20px;
    color:#f7dae7;
}
.harga {
    font-weight: bold;
    color: #f7dae7;
}
.deskripsi {
    font-size: 14px;
    color:#f7dae7;
}
.artikel {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #e47171;
    font-family: 'Georgia', serif;

    line-height: 1.8;
}
.artikel .penulis {
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
}
.artikel .sampul {
    width: 180px;
    float: right;
    margin: 0 0 20px 20px;
    border: 1px solid #9c4d4d;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}
.artikel blockquote {
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid #e47171; 
    color: #9c4d4d;
    background-color: #0e0d0d;
}
.btn-kembali {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 16px;
    background-color: #141414;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-kembali:hover {
      background-color: aquamarine;
    }

.formulir {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #9c4d4d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    }
form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }         
form button {
    background-color: #d38c9d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
form button:hover {
    background-color: #d38c9d;
    }        